@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

header {
    display: grid;
    justify-content: start;
    box-shadow: 0px 3px 3px #d4d4d4;
}

h1 {
    font-size: 1.7rem;
    margin-left: .5em;
    margin-top: .2em;
}

h2 {
    font-weight: normal;
    margin: 0em 1em;
}

main {
    margin-top: 3em;
}

/* slider styles */
.slider-container {
    width: 100%;
    margin: 1.3em 0;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: .7em;
}

.slider {
    border-radius: 2px;
}

.slider:focus {
    outline-style: solid;
    outline-color: hsl(214, 83%, 80%);
    outline-width: 3px;
    outline-offset: 2px;
}

/* output styles */

.output-container {
    font-size: 1.7em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
}

.output {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    height: auto;
    width: 60%;
    margin-bottom: .5em;
}

/*copy button styles*/
.fa-copy {
    
    color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
    border-radius: 2px;;
}

.fa-copy:hover {
    color: hsl(214, 83%, 57%);
}

.copy-button {
    margin: 1.1em 0;
}

.fa-copy:focus {
    color: hsl(214, 83%, 57%);
    outline-style: solid;
    outline-color: hsl(214, 83%, 80%);
    outline-width: 3px;
    outline-offset: 2px;
}

/* form styles */
.checkbox-container {
    margin-top: .4em;    
    flex-direction: column;
    font-size: 1.3rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.input-group {
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: hsl(214, 83%, 57%);
    color: white;
    font-size: 1.2rem;
    margin-top: 1.3em;
}

.button:hover {
    color: hsl(214, 83%, 57%);
    background-color: hsl(214, 83%, 80%);
}

.button:focus {
    outline-style: solid;
    outline-color: hsl(214, 83%, 80%);
    outline-width: 3px;
    outline-offset: 2px;
}

/* custom checkbox styles */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:focus {
    outline-style: solid;
    outline-color: hsl(214, 83%, 80%);
    outline-width: 3px;
    outline-offset: 2px;
}

label {
    cursor: pointer;
    padding-left: 1em;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 20px;
    color: white;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: #bebdbd;
}

input[type="checkbox"]:checked {
    background-color: hsl(214, 83%, 57%);
}

input[type="checkbox"]:checked:hover {
    color: hsl(214, 83%, 57%);
    background-color: hsl(214, 83%, 80%);
}

input[type="checkbox"]:checked:after {
    display: block;
}

/* custom range slider styles */
input[type="range"] {
    appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: hsl(214, 83%, 57%);
    height: .5em;
}
   
input[type="range"]::-moz-range-track {
    background: hsl(214, 83%, 57%);
    height: .5em;
}
   
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    background: white;
    margin-top: -5px;
    border-radius: 50%;
}
   
   input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: white;
    margin-top: -5px;
    border-radius: 50%;
}
   
/* responsive styles */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        margin-left: .3em;
        margin-top: .1em;
    }

    .output {
        width: 100%;
    }

    .fa-copy:focus {
        outline: none;
        color: gray;
    }

    .slider:focus {
        outline: none;
    }

    input[type="checkbox"]:focus {
        outline: none;
    }

    .button:focus {
        outline: none;
    }
  
}