@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-size: 2.9rem;
    margin-top: 30px;
}

h2 {
    font-weight: normal;
    padding: 2rem 0;
}

.main {
    margin-top: 30px;
}

/* output styles */

.output {
    font-size: 1.3em;
    margin-bottom: 30px;
    color:hsl(214, 83%, 57%);
}

/* form styles */
.checkbox-container {
    display: grid;
    font-size: 1.3rem;
    justify-content: center;
    align-items: baseline;
}

.input-group {
    text-align: left;
    padding-bottom: 10px;
}

.button {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: hsl(214, 83%, 57%);
    color: white;
    font-size: 1.2rem;
    margin-top: 30px;
}

.button:hover {
    color: hsl(214, 83%, 57%);
    background-color: hsl(214, 83%, 80%);
}

/* custom checkbox styles */
input[type="checkbox"] {
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
}

label {
    cursor: pointer;
}

input[type="checkbox"]:after {
    
}
