@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-size: 2.9rem;
    margin-top: 30px;
}

h2 {
    font-weight: normal;
}

.main {
    margin-top: 1.5em;
}

/* output styles */

.output-container {
    font-size: 1.7em;
    font-weight: bold;
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*copy button styles*/
.fa-copy {
    margin-left: .5em;
    color:#e0e0e0;
    cursor: pointer;
}

.fa-copy:hover {
    color: hsl(214, 83%, 57%);
}

/* form styles */
.checkbox-container {    
    flex-direction: column;
    font-size: 1.3rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.input-group {
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: hsl(214, 83%, 57%);
    color: white;
    font-size: 1.2rem;
    margin-top: 1em;
}

.button:hover {
    color: hsl(214, 83%, 57%);
    background-color: hsl(214, 83%, 80%);
}

/* custom checkbox styles */
input[type="checkbox"] {
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    cursor: pointer;
    padding-left: 1em;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 20px;
    color: white;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: #bebdbd;
}

input[type="checkbox"]:checked {
    background-color: hsl(214, 83%, 57%);
}

input[type="checkbox"]:checked:hover {
    color: hsl(214, 83%, 57%);
    background-color: hsl(214, 83%, 80%);
}

input[type="checkbox"]:checked:after {
    display: block;
}
